
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>registration-servlet</servlet-name>
        <servlet-class>com.nicflores.app.user.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listusers-servlet</servlet-name>
        <servlet-class>com.nicflores.app.user.ListUsersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registration-servlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listusers-servlet</servlet-name>
        <url-pattern>/listusers</url-pattern>
    </servlet-mapping>


    <listener>
      <listener-class>com.nicflores.app.user.ApplicationListener</listener-class>
    </listener>

</web-app>